.cbody {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cheader {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.ch1, .ch2 {
    color: #007bff;
}

.carticle {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cp {
    margin-bottom: 15px;
}

.ca {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.cimg {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}



.ctable {
    border-collapse: collapse;
    width: 100%;
  }

  .cth, .ctd {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .cth {
    background-color: #f2f2f2;
  }