.fbody {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fheader {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.fh1, .fh2 {
    color: #007bff;
}

.farticle {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.fp {
    margin-bottom: 15px;
}

.fa {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.fimg {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}