.formbody {
    margin: 0;
    padding: 0;
    background-image: url('../IMÁGENES/fondodepnat.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif; /* Agrega la fuente que hayas elegido */
}

.formcontainer {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 50px;
}

.formform {
    max-width: 400px;
    margin: auto;
}

.formh2 {
    text-align: center;
}

.formlabel {
    display: block;
    margin-top: 10px;
}

.forminput,
.formtextarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formbutton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.formhover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    .container {
        width: 80%;
    }
}
