/*BICHO*/

.bbody{
    font-family: Arial, sans-serif;
    margin: 20px;
    
        background-image: url('../IMÁGENES/CRISTIANO.jpg');
        background-size:auto; 
        background-position: center; 
        background-repeat: no-repeat; 

     
    
}

.bheader {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
}
.bh1 {
    color: #333;
}
.bh2{

    color: blue;
}

.bsection {
    margin-top: 20px;
}

.bp {
    margin-top: 20px;
    padding: 10px;
    
    opacity: 90%;
    line-height: 1.5;
    color: black
}
.bv{
    margin-top: 20px;
    padding: 10px;
    
   
    
    color: yellow;
    text-align: right;
    background-color: gray;
    
}


/*compañeros*/



.cbody {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cheader {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.ch1, .ch2 {
    color: #007bff;
}

.carticle {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cp {
    margin-bottom: 15px;
}

.ca {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.cimg {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}



.ctable {
    border-collapse: collapse;
    width: 100%;
  }

  .cth, .ctd {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .cth {
    background-color: #f2f2f2;
  }

  /*FUNDAMENTOS*/

  .fbody {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fheader {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.fh1, .fh2 {
    color: #007bff;
}

.farticle {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.fp {
    margin-bottom: 15px;
}

.fa {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.fimg {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

/*SOBREMI*/

.sbody {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}
.sheader {
    text-align: center;
    margin-bottom: 20px;
}
.sh1, .sh2 {
    color: #333;
}
.ssection {
    margin-bottom: 30px;
}

/* INDEX*/
.ihtml{
    font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}

.ibody{
    background-image: url('../IMÁGENES/fondodepnat.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    margin: 0;

    background-color: #efefef;
}


.iheader{
    background-color: #364552;
    color: white;
    padding: 3rem 2rem;
}
.ih1{
    font-size: 4rem;
    text-align: center;
}
.icontainer{


    width: 400px;
    margin: 0 auto;
}


.iarticle{
     transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor:pointer;
}


.ihover{

    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

.ih2, .ip{

    margin:1rem ;
}

.ifooter{

    background-color: #222;
    padding: 3rem;
    color: white;

}

.ifooter section{
    float: right;
}

.ifooter p{
    margin: 0;

}
.ifooter a{
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;

}
.ifooter a:hover{
    color: cornflowerblue;
}


/*formulario*/

.formbody {
    margin: 0;
    padding: 0;
    background-image: url('../IMÁGENES/fondodepnat.jpg');
    background-size: none;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif; /* Agrega la fuente que hayas elegido */
}

.formcontainer {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 50px;
}

.formform {
    max-width: 400px;
    margin: auto;
}

.formh2 {
    text-align: center;
}

.formlabel {
    display: block;
    margin-top: 10px;
}

.forminput,
.formtextarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formbutton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.formhover {
    background-color: #45a049;
}